<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>

<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2>
        <%= pluralize(@book.errors.count, "error") %>
        prohibited this book from being saved:
    </h2>

    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <Strong>Title:</Strong>
  <%= @book.title %>
</p>

<p>
  <Strong>Body:</Strong>
  <%= @book.body %>
</p>

 <span>
        <%= link_to "Edit",edit_book_path(@book.id) %>
        |
        <%= link_to "Back",books_path %>
</span>
